### Section 6 Homework - Fill in the blanks

Import the packages needed to perform the analysis

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [6]:
# Import the data
mov = pd.read_csv('Section6.csv', encoding = 'latin1')

In [7]:
# Explore the dataset
mov.head()

,Day of Week,Director,Genre,Movie Title,Release Date,Studio,Adjusted Gross ($mill),Budget ($mill),Gross ($mill),IMDb Rating,MovieLens Rating,Overseas ($mill),Overseas%,Profit ($mill),Profit%,Runtime (min),US ($mill),Gross % US
0,Friday,Brad Bird,action,Tomorrowland,22/05/2015,Buena Vista Studios,202.1,170.0,202.1,6.7,3.26,111.9,55.4,32.1,18.9,130,90.2,44.6
1,Friday,Scott Waugh,action,Need for Speed,14/03/2014,Buena Vista Studios,204.2,66.0,203.3,6.6,2.97,159.7,78.6,137.3,208.0,132,43.6,21.4
2,Friday,Patrick Hughes,action,The Expendables 3,15/08/2014,Lionsgate,207.1,100.0,206.2,6.1,2.93,166.9,80.9,106.2,106.2,126,39.3,19.1
3,Friday,"Phil Lord, Chris Miller",comedy,21 Jump Street,16/03/2012,Sony,208.8,42.0,201.6,7.2,3.62,63.1,31.3,159.6,380.0,109,138.4,68.7
4,Friday,Roland Emmerich,action,White House Down,28/06/2013,Sony,209.7,150.0,205.4,8.0,3.65,132.3,64.4,55.4,36.9,131,73.1,35.6

In [8]:
# Check the summary of the dataframe
mov.describe()

,Budget ($mill),IMDb Rating,MovieLens Rating,Overseas%,Profit%,Runtime (min),US ($mill),Gross % US
count,608.000000,608.000000,608.000000,608.000000,608.000000,608.000000,608.000000,608.000000
mean,92.467928,6.923849,3.340378,57.698849,719.278783,117.781250,167.135197,42.301151
std,59.421407,0.925890,0.454071,12.334237,1942.807248,23.179122,92.465903,12.334237
min,0.600000,3.600000,1.490000,17.200000,7.700000,30.000000,0.000000,0.000000
25%,45.000000,6.375000,3.037500,49.900000,201.850000,100.000000,106.950000,33.700000
50%,80.000000,6.900000,3.365000,58.200000,338.550000,116.000000,141.700000,41.800000
75%,130.000000,7.600000,3.672500,66.300000,650.100000,130.250000,202.100000,50.100000
max,300.000000,9.200000,4.500000,100.000000,41333.300000,238.000000,760.500000,82.800000

In [9]:
# Check the structure of the dataframe
mov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 608 entries, 0 to 607
Data columns (total 18 columns):
Day of Week               608 non-null object
Director                  608 non-null object
Genre                     608 non-null object
Movie Title               608 non-null object
Release Date              608 non-null object
Studio                    608 non-null object
Adjusted Gross ($mill)    608 non-null object
Budget ($mill)            608 non-null float64
Gross ($mill)             608 non-null object
IMDb Rating               608 non-null float64
MovieLens Rating          608 non-null float64
Overseas ($mill)          608 non-null object
Overseas%                 608 non-null float64
Profit ($mill)            608 non-null object
Profit%                   608 non-null float64
Runtime (min)             608 non-null int64
US ($mill)                608 non-null float64
Gross % US                608 non-null float64
dtypes: float64(7), int64(1), object(10)
memory usage: 61.8+ KB

In [10]:
# Explore the categorical variable Studio, used in the assignment
mov.Studio.astype('category')

0          Buena Vista Studios
1          Buena Vista Studios
2                    Lionsgate
3                         Sony
4                         Sony
5                         Sony
6          Buena Vista Studios
7                    Universal
8                    Universal
9           Paramount Pictures
10                          WB
11           Weinstein Company
12            UA Entertainment
13                 WB/New Line
14                        Sony
15                        Sony
16         Buena Vista Studios
17                   Universal
18                        Sony
19          Paramount Pictures
20                        Sony
21                        Sony
22                        Sony
23         Buena Vista Studios
24                          WB
25          Paramount Pictures
26             New Line Cinema
27                          WB
28                         Fox
29                     TriStar
                ...
578    Pacific Data/DreamWorks
579          Colombia Pictures
580        Buena Vista Studios
581            New Line Cinema
582                        Fox
583        Buena Vista Studios
584                  Universal
585        Buena Vista Studios
586        Buena Vista Studios
587                         WB
588        Buena Vista Studios
589         Paramount Pictures
590                         WB
591         Paramount Pictures
592            New Line Cinema
593                        Fox
594                  Universal
595                        Fox
596        Buena Vista Studios
597        Buena Vista Studios
598                  Universal
599                     Disney
600                  Universal
601                  Universal
602                        Fox
603                         WB
604                        Fox
605                        Fox
606         Paramount Pictures
607                        MGM
Name: Studio, Length: 608, dtype: category
Categories (36, object): [Art House Studios, Buena Vista Studios, Colombia Pictures, Dimension Films, ..., Vestron Pictures, WB, WB/New Line, Weinstein Company]

In [12]:
# Explore the categorical variable Studio, used in the assignment
mov.Genre.astype('category')

0         action
1         action
2         action
3         comedy
4         action
5         action
6      adventure
7         action
8         action
9         horror
10     animation
11     biography
12     biography
13        comedy
14         drama
15         drama
16     animation
17        action
18        action
19        action
20        comedy
21        comedy
22        comedy
23         drama
24        comedy
25        action
26       musical
27        action
28     adventure
29        sci-fi
         ...
578       action
579        drama
580    animation
581       action
582       action
583       action
584       action
585       action
586    animation
587    adventure
588       action
589        crime
590      fantasy
591      musical
592      fantasy
593       sci-fi
594       action
595       sci-fi
596       action
597    animation
598    adventure
599    animation
600    adventure
601     thriller
602    adventure
603       horror
604       action
605       sci-fi
606        drama
607        drama
Name: Genre, Length: 608, dtype: category
Categories (15, object): [action, adventure, animation, biography, ..., mystery, romance, sci-fi, thriller]

In [ ]:
# Filter the dataframe by genre
mov2 = mov[(mov._ == 'action') | (mov._ == 'adventure') | (mov._ == 'animation') | (mov._ == 'comedy') | (mov._ == 'drama')]

In [ ]:
# Filter the dataframe by studio
mov3 = mov2[(mov2._ == 'Buena Vista Studios') | (mov2._ == 'Fox') | (mov2._ == 'Paramount Pictures') | (mov2._ == 'Sony') | (mov2._ == 'Universal') | (mov2._ == 'WB')]

In [ ]:
# Check how the filters worked
print (_.Genre.unique())
print (_.Studio.unique())
print (len(_))

In [ ]:
# Define the style
_.set(style="darkgrid", palette="muted", color_codes=True)

# Plot the boxsplots
ax = sns._(data=_, x='_', y='_', orient='v', color='lightgray', showfliers=False)
plt.setp(ax.artists, alpha=0.5)

# Add in points to show each observation
_.stripplot(x='_', y='_', data=_, jitter=True, size=6, linewidth=0, hue = 'Studio', alpha=0.7)

ax.axes.set_title('_',fontsize=30)
ax.set_xlabel('_',fontsize=20)
ax.set_ylabel('_',fontsize=20)

# Define where to place the legend
ax.legend(bbox_to_anchor=(1.05, 1), loc=2, borderaxespad=0.)