In [1]:
import pandas as pd

## Method 1: specify full path to file

In [2]:
stats=pd.read_csv('DemographicData.csv')

In [ ]:
stats.head()

## Method 2: Change working dir

In [ ]:
import os
print(os.getcwd())

In [ ]:
os.chdir('..')

In [ ]:
print(os.getcwd())

In [ ]:
os.chdir('Section5\\')

In [ ]:
print(os.getcwd())

In [ ]:
stats2=pd.read_csv('DemographicData.csv')

In [ ]:
stats2.head()

## Explore data

### Method 1: Full data

In [ ]:
stats

### Method 2: Number of rows

In [ ]:
len(stats2) # 195 rows imported

### Method 3: See columns

In [ ]:
stats2.columns

### Method 4: Number of columns

In [ ]:
len(stats2.columns) # 5 colums

### Method 5: Top rows

In [ ]:
stats.head(6)

### Method 6: Bottom rows

In [ ]:
stats.tail(6)

### Method 7: Information on columns

In [ ]:
stats.info()

### Method 8: Stats on the columns

In [ ]:
stats2.describe()

In [ ]:
stats2.describe().T

In [ ]:
stats2.describe().transpose()

### Rename Column names

In [ ]:
stats.head()

In [ ]:
stats.columns

In [ ]:
stats.columns=['a','b','c','d','e']

In [ ]:
stats.head()

In [3]:
stats.columns=['CountryName', 'CountryCode', 'BirthRate', 'InternetUsers',
       'IncomeGroup']
stats.head()

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income

### Subset dataframe in pandas

In [ ]:
stats.head()

#### Part 1 : Subset by Rows

In [ ]:
stats[100:110]

In [ ]:
stats[:]

In [ ]:
stats[:10]

In [ ]:
# Quick refresher
# Reverse the Dataframe
stats[-1::-1].head()
stats[-1:].head()

In [ ]:
stats[::-1].head()

In [ ]:
# Quick refresher
# Get only the 20th row
stats[20:21]

In [ ]:
# Get every 20th row
stats[::20]

#### Part 2 : Subset by Columns

In [ ]:
stats.columns

In [ ]:
stats.head()

In [ ]:
stats[['CountryName','CountryCode']].head()
stats[['CountryCode','CountryName']].head()

In [ ]:
# Quick Access - requires name to be one word
stats.head()
stats.BirthRate.head()

#### Part 3 : Combine rows and columns

In [ ]:
stats.head()

In [ ]:
stats[12:20]

In [ ]:
stats[['CountryName','CountryCode']].head()

In [ ]:
# combining
stats[12:20][['CountryName','CountryCode']]

In [ ]:
stats[['CountryName','CountryCode']][12:20]

### Mathematical operation

In [ ]:
result =stats.BirthRate * stats.InternetUsers #can perform /, +,- operation
result.head()

### Add a column

In [ ]:
stats['My_Col']=stats.BirthRate * stats.InternetUsers
stats.head()

This is difference between vectorize and non vectorize language
stats['xyz']=[1,2,3,4,5] # error no recycling vector option

### Remove the column

In [ ]:
stats.drop('My_Col',axis=1).head() # by default axis is 0 which try to drop rows. To remove column we specify axis=1

In [ ]:
#stats.drop return new object but does not modify existng dataframe 
stats.head()

In [ ]:
stats=stats.drop('My_Col',axis=1)
stats.head()

### Filtering Dataframe

#### Filtering is about Rows

In [5]:
stats.head()

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income

In [6]:
stats.InternetUsers <2

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11      True
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
165    False
166    False
167    False
168    False
169    False
170    False
171    False
172     True
173    False
174    False
175    False
176    False
177    False
178    False
179    False
180    False
181    False
182    False
183    False
184    False
185    False
186    False
187    False
188    False
189    False
190    False
191    False
192    False
193    False
194    False
Name: InternetUsers, Length: 195, dtype: bool

In [8]:
Filter=stats[stats.InternetUsers <2]
Filter

      CountryName CountryCode  BirthRate  InternetUsers          IncomeGroup
11        Burundi         BDI     44.151            1.3           Low income
52        Eritrea         ERI     34.800            0.9           Low income
55       Ethiopia         ETH     32.925            1.9           Low income
64         Guinea         GIN     37.337            1.6           Low income
117       Myanmar         MMR     18.119            1.6  Lower middle income
127         Niger         NER     49.661            1.7           Low income
154  Sierra Leone         SLE     36.729            1.7           Low income
156       Somalia         SOM     43.891            1.5           Low income
172   Timor-Leste         TLS     35.755            1.1  Lower middle income

In [14]:
Filter2=stats[stats.BirthRate>40]
Filter2

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
2,Angola,AGO,45.985,19.1,Upper middle income
11,Burundi,BDI,44.151,1.3,Low income
14,Burkina Faso,BFA,40.551,9.1,Low income
65,"Gambia, The",GMB,42.525,14.0,Low income
115,Mali,MLI,44.138,3.5,Low income
127,Niger,NER,49.661,1.7,Low income
128,Nigeria,NGA,40.045,38.0,Lower middle income
156,Somalia,SOM,43.891,1.5,Low income
167,Chad,TCD,45.745,2.3,Low income
178,Uganda,UGA,43.474,16.2,Low income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income

In [21]:
stats[stats.InternetUsers<2][stats.BirthRate>40]

c:\python36\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

    CountryName CountryCode  BirthRate  InternetUsers IncomeGroup
11      Burundi         BDI     44.151            1.3  Low income
127       Niger         NER     49.661            1.7  Low income
156     Somalia         SOM     43.891            1.5  Low income

In [22]:
stats[(stats.InternetUsers<2) & (stats.BirthRate>40)]

    CountryName CountryCode  BirthRate  InternetUsers IncomeGroup
11      Burundi         BDI     44.151            1.3  Low income
127       Niger         NER     49.661            1.7  Low income
156     Somalia         SOM     43.891            1.5  Low income

In [23]:
stats.head()

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income

In [27]:
stats[stats.IncomeGroup=='High income'].head()

            CountryName CountryCode  BirthRate  InternetUsers  IncomeGroup
0                 Aruba         ABW     10.244           78.9  High income
4  United Arab Emirates         ARE     11.044           88.0  High income
5             Argentina         ARG     17.716           59.9  High income
7   Antigua and Barbuda         ATG     16.447           63.4  High income
8             Australia         AUS     13.200           83.0  High income

In [26]:
stats.IncomeGroup.unique()

array(['High income', 'Low income', 'Upper middle income',
       'Lower middle income'], dtype=object)

In [28]:
stats[stats.CountryName=='Malta']

    CountryName CountryCode  BirthRate  InternetUsers  IncomeGroup
116       Malta         MLT        9.5        68.9138  High income

In [35]:
stats[(stats.IncomeGroup=='High income') | (stats.IncomeGroup=='Upper middle income')]

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
0,Aruba,ABW,10.244,78.90000,High income
2,Angola,AGO,45.985,19.10000,Upper middle income
3,Albania,ALB,12.877,57.20000,Upper middle income
4,United Arab Emirates,ARE,11.044,88.00000,High income
5,Argentina,ARG,17.716,59.90000,High income
7,Antigua and Barbuda,ATG,16.447,63.40000,High income
8,Australia,AUS,13.200,83.00000,High income
9,Austria,AUT,9.400,80.61880,High income
10,Azerbaijan,AZE,18.300,58.70000,Upper middle income
12,Belgium,BEL,11.200,82.17020,High income
16,Bulgaria,BGR,9.200,53.06150,Upper middle income
17,Bahrain,BHR,15.040,90.00004,High income
18,"Bahamas, The",BHS,15.339,72.00000,High income
19,Bosnia and Herzegovina,BIH,9.062,57.79000,Upper middle income
20,Belarus,BLR,12.500,54.17000,Upper middle income
21,Belize,BLZ,23.092,33.60000,Upper middle income
22,Bermuda,BMU,10.400,95.30000,High income
24,Brazil,BRA,14.931,51.04000,Upper middle income
25,Barbados,BRB,12.188,73.00000,High income
26,Brunei Darussalam,BRN,16.405,64.50000,High income
28,Botswana,BWA,25.267,15.00000,Upper middle income
30,Canada,CAN,10.900,85.80000,High income
31,Switzerland,CHE,10.200,86.34000,High income
32,Chile,CHL,13.385,66.50000,High income
33,China,CHN,12.100,45.80000,Upper middle income
37,Colombia,COL,16.076,51.70000,Upper middle income
40,Costa Rica,CRI,15.022,45.96000,Upper middle income
41,Cuba,CUB,10.400,27.93000,Upper middle income
42,Cayman Islands,CYM,12.500,74.10000,High income
43,Cyprus,CYP,11.436,65.45480,High income
...,...,...,...,...,...
136,Panama,PAN,19.680,44.03000,Upper middle income
137,Peru,PER,20.198,39.20000,Upper middle income
140,Poland,POL,9.600,62.84920,High income
141,Puerto Rico,PRI,10.800,73.90000,High income
142,Portugal,PRT,7.900,62.09560,High income
143,Paraguay,PRY,21.588,36.90000,Upper middle income
144,French Polynesia,PYF,16.393,56.80000,High income
145,Qatar,QAT,11.940,85.30000,High income
146,Romania,ROU,8.800,49.76450,Upper middle income
147,Russian Federation,RUS,13.200,67.97000,High income
149,Saudi Arabia,SAU,20.576,60.50000,High income
152,Singapore,SGP,9.300,81.00000,High income
157,Serbia,SRB,9.200,51.50000,Upper middle income
160,Suriname,SUR,18.455,37.40000,Upper middle income
161,Slovak Republic,SVK,10.100,77.88260,High income
162,Slovenia,SVN,10.200,72.67560,High income
163,Sweden,SWE,11.800,94.78360,High income
165,Seychelles,SYC,18.600,50.40000,High income
169,Thailand,THA,11.041,28.94000,Upper middle income
171,Turkmenistan,TKM,21.322,9.60000,Upper middle income
173,Tonga,TON,25.409,35.00000,Upper middle income
174,Trinidad and Tobago,TTO,14.590,63.80000,High income
175,Tunisia,TUN,19.800,43.80000,Upper middle income
176,Turkey,TUR,16.836,46.25000,Upper middle income
180,Uruguay,URY,14.374,57.69000,High income
181,United States,USA,12.500,84.20000,High income
183,St. Vincent and the Grenadines,VCT,16.306,52.00000,Upper middle income
184,"Venezuela, RB",VEN,19.842,54.90000,High income
185,Virgin Islands (U.S.),VIR,10.700,45.30000,High income
191,South Africa,ZAF,20.850,46.50000,Upper middle income

### Accessing individual element

stats[2,2] # error it will work in matrix

In [36]:
stats.head()

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income

#### .at, .loc  used for labels even integer is treated as label
#### .iat, .iloc  used for integer location.

In [37]:
stats.iat[3,4]

'Upper middle income'

In [38]:
stats.iloc[3,4]

'Upper middle income'

In [39]:
stats.at[2,'BirthRate']

45.984999999999999

In [40]:
stats.loc[2,'BirthRate']

45.984999999999999

In [41]:
subset1=stats[::10]

In [48]:
subset1.head(11)

    CountryName CountryCode  BirthRate  InternetUsers          IncomeGroup
0         Aruba         ABW     10.244      78.900000          High income
10   Azerbaijan         AZE     18.300      58.700000  Upper middle income
20      Belarus         BLR     12.500      54.170000  Upper middle income
30       Canada         CAN     10.900      85.800000          High income
40   Costa Rica         CRI     15.022      45.960000  Upper middle income
50      Ecuador         ECU     21.070      40.353684  Upper middle income
60        Gabon         GAB     30.555       9.200000  Upper middle income
70    Greenland         GRL     14.500      65.800000          High income
80        India         IND     20.291      15.100000  Lower middle income
90   Kazakhstan         KAZ     22.730      54.000000  Upper middle income
100       Libya         LBY     21.425      16.500000  Upper middle income

In [44]:
subset1.iloc[10,0]

'Libya'

```Note: in .loc or .at it look for lable '10' and in .iat and iloc it take 10 as index position.```

In [45]:
subset1.loc[10,'CountryName']

'Azerbaijan'