# Section 3 Assignment
####  Financial Statement Analysis

In [10]:
import numpy as np
import pandas as pd

In [2]:
#Data 
revenue = [14574.49, 7606.46, 8611.41, 9175.41, 8058.65, 8105.44, 11496.28, 9766.09, 10305.32, 14379.96, 10713.97, 15433.50]
expenses = [12051.82, 5695.07, 12319.20, 12089.72, 8658.57, 840.20, 3285.73, 5821.12, 6976.93, 16618.61, 10054.37, 3803.96]

In [3]:
np_rev=np.array(revenue)
np_exp=np.array(expenses)

In [30]:
monthly_profit=np.round(np_rev-np_exp,2)
monthly_profit

array([  2522.67,   1911.39,  -3707.79,  -2914.31,   -599.92,   7265.24,
         8210.55,   3944.97,   3328.39,  -2238.65,    659.6 ,  11629.54])

In [31]:
monthly_profit_aftertax=np.round(monthly_profit-monthly_profit*.3,2)
monthly_profit_aftertax

array([ 1765.87,  1337.97, -2595.45, -2040.02,  -419.94,  5085.67,
        5747.38,  2761.48,  2329.87, -1567.06,   461.72,  8140.68])

In [32]:
yearly_performance=pd.DataFrame(columns=['performance'], data=monthly_profit_aftertax, index=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'])
yearly_performance

     performance
Jan      1765.87
Feb      1337.97
Mar     -2595.45
Apr     -2040.02
May      -419.94
Jun      5085.67
Jul      5747.38
Aug      2761.48
Sep      2329.87
Oct     -1567.06
Nov       461.72
Dec      8140.68

In [53]:
profit_mean=np.round(monthly_profit_aftertax.mean(),1)
profit_mean

1750.7

In [34]:
Best_Month= monthly_profit_aftertax.max()
Best_Month

8140.6800000000003

In [35]:
worst_month=monthly_profit_aftertax.min()
worst_month

-2595.4499999999998

In [50]:
Good_Month=[]
for i in monthly_profit_aftertax:
    if i >=profit_mean:
        Good_Month.append(round(i,1))
   
Good_Month

[1765.9000000000001,
 5085.6999999999998,
 5747.3999999999996,
 2761.5,
 2329.9000000000001,
 8140.6999999999998]

In [52]:
bad_month=[]
for i in monthly_profit_aftertax:
    if i <profit_mean:
        bad_month.append(round(i,1))
   
bad_month

[1338.0,
 -2595.4000000000001,
 -2040.0,
 -419.89999999999998,
 -1567.0999999999999,
 461.69999999999999]

In [58]:
profit_margin = []
for i in range (0, len(monthly_profit_aftertax)):
    profit_margin.append(monthly_profit_aftertax[i] / revenue[i])
profit_margin

profit_margin = [round((i*100),1) for i in profit_margin]

profit_margin

[12.1,
 17.600000000000001,
 -30.100000000000001,
 -22.199999999999999,
 -5.2000000000000002,
 62.700000000000003,
 50.0,
 28.300000000000001,
 22.600000000000001,
 -10.9,
 4.2999999999999998,
 52.700000000000003]

In [54]:
#Convert All Calculations To Units Of One Thousand Dollars
revenue_1000 = [round(i/1000, 2) for i in np_rev]
expenses_1000 = [round(i/1000, 2) for i in np_exp]
profit_1000 = [round(i/1000, 2) for i in monthly_profit]
profit_after_tax_1000 = [round(i/1000, 2) for i in monthly_profit]

revenue_1000 = [int(i) for i in revenue_1000]
expenses_1000 = [int(i) for i in expenses_1000]
profit_1000 = [int(i) for i in profit_1000]
profit_after_tax_1000 = [int(i) for i in profit_after_tax_1000]

In [55]:
#Print Results
print ("Revenue :") 
print (revenue_1000)
print ("Expenses :") 
print (expenses_1000)
print ("Profit :")
print(profit_1000)
print ("Profit after tax :")
print (profit_after_tax_1000)
#print ("Profit margin :")
#print (profit_margin)
print ("Good months :")
print (Good_Month)
print ("Bad months :")
print (bad_month)
print ("Best month :")
print (Best_Month)
print ("Worst month :")
print (worst_month)

Revenue :
[14, 7, 8, 9, 8, 8, 11, 9, 10, 14, 10, 15]
Expenses :
[12, 5, 12, 12, 8, 0, 3, 5, 6, 16, 10, 3]
Profit :
[2, 1, -3, -2, 0, 7, 8, 3, 3, -2, 0, 11]
Profit after tax :
[2, 1, -3, -2, 0, 7, 8, 3, 3, -2, 0, 11]
Good months :
[1765.9000000000001, 5085.6999999999998, 5747.3999999999996, 2761.5, 2329.9000000000001, 8140.6999999999998]
Bad months :
[1338.0, -2595.4000000000001, -2040.0, -419.89999999999998, -1567.0999999999999, 461.69999999999999]
Best month :
8140.68
Worst month :
[1338.0, -2595.4000000000001, -2040.0, -419.89999999999998, -1567.0999999999999, 461.69999999999999]